!!!
html(ng-app)
  head
    title Mobile CMS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    block headerScripts
    block style
  body
    block content
    block bodyScripts